* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}

p {
  color: #6e6f7d;
}

button {
  transition: all 0.3s linear;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  margin-left: 260px;
}

.container {
  flex-grow: 1;
  padding: 15px 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.title {
  font-size: 3em;
}
.info {
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1.5em;
  color: rgb(224, 224, 224);
}
.btn {
  margin: 0 auto;
  border: none;
  outline: none;
  padding: 0.75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(134, 49, 0);
  color: #fff;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 260px;
  flex-shrink: 0;
  background-color: rgba(25, 59, 103, 0.02);
  height: 100%;
  overflow: auto;
}

.sidebar-item {
  padding: 0.75em 1em;
  display: block;
  transition: background-color 0.15s;
  border-radius: 5px;
}
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-title {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
}

.sidebar-title:hover {
  color: #14a9f9;
}

.sidebar-title span {
  cursor: pointer;
  transition: all 0.5s linear;
}

.sidebar-title:hover span {
  margin-left: 10px;
}
.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-item.plain {
  color: #000;
  text-decoration: none;
  transition: all 0.5s linear;
}
.sidebar-item.plain:hover {
  margin-left: 10px;
  color: #14a9f9;
}
.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}

input[type="search"] {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 0;
}

input[type="search"]:focus {
  border: 1px solid rgb(209, 209, 209);
  box-shadow: none;
  background-color: #f6f6f6;
}

.customBtn {
  background-color: rgba(0, 0, 0, 0.322);
  padding: 8px 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 12px;
}

.avatar-group {
  display: flex;
}

.avatar {
  z-index: 0;
  margin-left: -10px;
}

.avatar img {
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.hidden-avatars {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #c0c0c0;
  margin-left: -10px;
}
